

body{
    text-align: center;
    background-color: antiquewhite;
    font-family: Arial;
    font-size: 18px;
}
h1{
    color: rgb(160, 94, 41); background-color: rgb(228, 204, 176);
}
h2{
    color: rgb(180, 48, 48);
}
